body{
  color: #82a5ca;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin: 0px;
}
.but{
  background-color: white;
  border: none;
  padding: 5px 10px;
  font-family: 'Orbitron', sans-serif; /* or font-family:inherit;*/
  color: #82a5ca;
  font-weight: bold;
  margin-bottom: 70px;
}

.exp{
  /*text-decoration: underline;*/
  border-bottom: 4px solid white;

}

#logo{
  width: 100px;
}
.main1{
  background-image: url("images/galaxy.webp");
  background-size: cover;
}

.head{
  text-shadow: 0 0 4px black;
}